.addContact {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(0);
  transition: transform 0.5s ease;
}

.activeModal {
  transform: scale(1);
}

.modalPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 25rem;
  padding: 2rem 1rem 0rem 1rem;
  background-color: #3d3d3d;
  border-radius: 8px;
  margin-top: 1.2rem;
}

.iconClose {
  color: #fff;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}
