.imgProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border: 2px solid rgba(0, 0, 0, 1);
  cursor: pointer;
  border-radius: 100vmax;
  transition: background, transform 0.15s ease-in;
  margin-bottom: 1rem;
  background: linear-gradient(
    140deg,
    rgba(128, 128, 128, 1),
    rgba(255, 255, 255, 1),
    rgb(128, 128, 128)
  );
  overflow: hidden;
}

.imgProfile:active {
  background: #ddd;
  transform: scale(0.9);
}

.profileInput {
  display: none;
}

.iconprofile {
  padding: 4px 0 0 0;
  font-size: 1.5rem;
}

.profileImg {
  width: inherit;
  height: inherit;
  background-size: cover;
}
