.modalWrapper {
  position: absolute;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: start;
}

.modalConfirm {
  background-color: #fff;
  margin-top: 4rem;
  z-index: 100;
  border-radius: 8px;
}

.titleConfirm {
  padding: 2rem;
  color: #000;
}

.buttons {
}

.btnCansell {
  width: 50%;
  padding: 0.5rem 0.4rem;
  border-radius: 0 0 0 8px;
}

.btnCansell:active {
  background-color: #aaa;
}

.btnOk {
  width: 50%;
  padding: 0.5rem 0.4rem;
  border-radius: 0 0 8px 0;
}

.btnOk:active {
  background-color: #aaa;
}
