.list {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 12rem;
  padding-right: 5px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 5px;
  height: 100%;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-thumb:active {
  background: #555;
  cursor: grabbing;
}
