.buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.button {
  position: relative;
  transition: all 0.15s ease-in;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

.button:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

.activeBtn {
  background-color: #ddd;
  color: #000;
}

.filterIcon {
  padding: 0.1rem 0.1rem 0 0;
}
