* {
  margin: 0;
  outline: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}

body {
  font-family: "Roboto";
  font-weight: 400;
}

.app {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 1rem;
  max-width: 25rem;
  max-height: 20rem;
  background-color: #000000f0;
  color: #ddd;
  padding: 1rem 0.5rem 0rem 0.5rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.4);
}

.fullRoundedBox {
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  min-height: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 100vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
